* {
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100%;
    margin: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.6em;
    color: #666;
    background: -webkit-radial-gradient(rgb(500, 90, 136), rgb(18, 40, 62));
    background: radial-gradient(rgb(1 0 0), rgb(18, 40, 62));
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 14px;
    z-index: 1;
}

header {
    background: radial-gradient(rgb(9 19 29), rgb(14 29 45));
    padding: 30px 20px;
}

header h1 {
    font-family: Helvetica, sans-serif;
    font-size: 45px;
    color: #050108;
    padding: 20px 0;
}

header span {
    color: #a81818;
}

section {
    padding: 30px 20px 20px 20px;
}

footer {
    padding: 20px;
   background: radial-gradient(rgb(1 0 0), rgb(18, 40, 62));
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

.field-container {
    display: block;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.search-field {
    background: radial-gradient(rgb(1 0 0), rgb(18, 40, 62));
    color: #ccc;
    border: 2px solid #c8c8c8;
    border-bottom-color: #d2e2e7;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 5px #f0f0f0;
    font-size: 1.6em;
    box-sizing: border-box;
    display: block;
    width: 45%;
    padding: 7px;
    padding-right: 40px;
}

.button-container {
    margin-top: 25px;
}

.page-button {
    cursor: pointer;
    color: #303254;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 13px;
    margin: 10px;
}

/*style the results*/
.clearBoth {
    clear: both;
}

.list-left {
    float: left;
    width: 20%;
}

.list-left img {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
}

.list-right {
    float: right;
    width: 78%;
}

.vTitle {
    color: #303254;
}

.cTitle {
    color: #6A467F;
    font-weight:700;
}
/*end results style classes*/

#container {
    background: radial-gradient(rgb(1 0 0), rgb(18, 40, 62));
    padding: 20px 40px;
    width: 750px;
    margin: 50px auto;
    z-index: 2;
}

#search-form {
    display: block;
    padding-bottom: 15px;
}

input#query {
    color: #666;
}

#search-btn {
    background: transparent url(../img/search.png) top left no-repeat;
    cursor: pointer;
    position: absolute;
    right: 360px;
    top: 5px;
    height: 32px;
    width: 32px;
    border: 0;
    zoom: 1;
    filter: alpha(opacity=65);
    opacity: 0.65;
}

#search-btn:hover {
    filter: alpha(opacity=90);
    opacity: 0.9;
}

#results {
    padding: 20px 0;
    border-bottom: 1px dotted #ccc;
    list-style: none;
    overflow: auto;
}
